

:root {
    --c-brand: rgb(220, 0, 0);
    --c-brand-light: rgb(220, 0, 0);
    --c-brand-bg: rgba(220, 0, 0, 0.1);

    // --c-border: #fff;
    // --c-border-dark: #fff;
}

html.dark {
    --c-brand: rgb(220, 0, 0);
    --c-brand-light: rgb(220, 0, 0);
    --c-brand-bg: rgba(220, 0, 0, 0.1);

    --c-bg: #000;

    --c-text: #eee;
    --c-text-light: #eee;
    --c-text-lighter: #eee;
    --c-text-lightest: #eee;

    --c-border: #222;
    --c-border-dark: #222;
}