{{ define "AppUIFormLayout" }}

{{ if .Action }}
<form
  action="{{ .Action }}"
  method="{{ .Method }}"
  class="w-full flex flex-col gap-9"
>
{{ else }}
<div class="w-full flex flex-col gap-9">
{{ end }}

<!-- Sections -->
{{ range .Sections }}
  <div>
    <!-- Title -->
    {{ if .Title }}
      <div class="text-xl font-bold">{{ .Title }}</div>
    {{ end }}
    <!-- Description -->
    {{ if .Description }}
      <div class="text-sm text-gray-600">{{ .Description }}</div>
    {{ end }}
    <!-- Separator -->
    {{ if or .Title .Description }}
      <div class="my-2 h-px bg-gray-200"></div>
    {{ end }}
    <!-- Fields -->
    <div class="-ml-2 flex flex-wrap items-center gap-y-3 divide-x-8 divide-transparent">
      {{ range $findex, $f := .Fields }}
        <!-- Field holder -->
        <div class="{{ if eq $findex 0 }} pl-2 {{ end }} {{ if .Width }} {{ .Width }} {{ else }} w-full {{ end }}">
          <!-- Label -->
          {{ if and .Label (and (ne .Type "radio") (ne .Type "checkbox")) }}
            <label for="{{ .Name }}" class="mb-2 block text-sm font-medium text-gray-700">
              {{ .Label }}
            </label>
          {{ end }}
          <!-- Input -->
          {{ if eq .Type "input" }}
            <div class="w-full h-full flex rounded-md shadow-sm border border-gray-300">
              {{ if .Preffix }}
              <div class="px-2 flex-initial flex items-center text-gray-500">{{ .Preffix }}</div>
              {{ end }}
              <input type="{{ .InputType }}" placeholder="{{ .Placeholder }}" name="{{ .Name }}" value="{{ .Value }}" class="h-full w-full px-3 py-2 {{ if .Preffix }} border-l rounded-r-md {{ else }} rounded-md {{ end }}">
            </div>
          <!-- Select -->
          {{ else if eq .Type "select" }}
            <div class="w-full h-full relative flex rounded-md shadow-sm border border-gray-300">
              {{ if .Preffix }}
              <div class="px-2 flex-initial flex items-center text-gray-500">{{ .Preffix }}</div>
              {{ end }}
              <select placeholder="{{ .Placeholder }}" name="{{ .Name }}" value="{{ .Value }}" class="h-full w-full px-3 py-2 appearance-none {{ if .Preffix }} border-l rounded-r-md {{ else }} rounded-md {{ end }}">
                {{ range .Options }}
                  <option value="{{ .Value }}" {{ if eq .Value $f.Value }} selected {{ end }}>{{ .Label }}</option>
                {{ end }}
              </select>
              <svg class="absolute right-2 top-3 w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
            </div>
          <!-- Radio -->
          {{ else if eq .Type "radio" }}
            <input type="radio" name="{{ .Name }}" value="{{ .Value }}" {{ if .Checked }} checked {{ end }} class="ml-1">
            <label for="{{ .Value }}" class="text-sm font-medium text-gray-700">{{ .Label }}</label>
          <!-- Checkbox -->
          {{ else if eq .Type "checkbox" }}
            <input type="checkbox" name="{{ .Name }}" {{ if .Value }} value="{{ .Value }}" {{ end }} {{ if .Checked }} checked {{ end }} class="ml-1">
            <label for="{{ .Value }}" class="text-sm font-medium text-gray-700">{{ .Label }}</label>
          <!-- Text Area -->
          {{ else if eq .Type "textarea" }}
            <textarea placeholder="{{ .Placeholder }}" name="{{ .Name }}" value="{{ .Value }}" rows="5" class="w-full px-3 py-2 rounded-md shadow-sm border border-gray-300"></textarea>
          <!-- RAW -->
          {{ else if eq .Type "raw" }}
            {{ .RAW }}
          {{ end }}
          {{ if .Description }}
            <div class="text-xs text-gray-600">{{ .Description }}</div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
<!-- Actions -->
<div class="w-full flex items-center justify-end gap-2">
  {{ if .ErrorMessage }}
  <div class="text-sm text-red-600 mr-auto">{{ .ErrorMessage }}</div>
  {{ end }}
  {{ range .Actions }}
    <button type="submit" name="BtnAction" value="{{ .Value }}" class="{{ if .FullWidth }} w-full flex items-center justify-center {{ end }} flex items-center gap-2 px-4 py-2 border rounded-md shadow-sm text-sm font-medium {{ if .Primary }} text-white border-transparent bg-indigo-600 hover:bg-indigo-700 {{ else }} text-gray-700 border-gray-300 bg-white hover:bg-gray-50 {{ end }} focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      {{ .Text }}
    </button>
  {{ end }}
</div>
 
{{ if .Action }}
</form>
{{ else }}
</div>
{{ end }}

{{ end }}
